h1 { color: white;
     font-family:sans-serif ;
    font-style: normal;

  font-weight: bold;
font-size:100px;
text-align: center;
}


body {
        background-image: 'images\arkaplan.jpg';
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

.btn-twitter {
  background-color: white;
  border-color: white;
  color:black;
  font-size: 15px;
  font-family:sans-serif;
  font-weight: bold
}
#social-buttons { text-align: center;}
