h1 { color: inherit;
     font-family: monospace;
    font-style: normal;
<<<<<<< HEAD
  font-weight: bold;
font-size: 80px;}
=======
  font-weight: bold;}
  .jumbotron {
    padding-top: 90px;
    min-height: 600px;
    margin-bottom: 0;
    background-image: url('images/fruit-and-veg.jpg');
    background-size: cover;
    background-attachment: fixed;
>>>>>>> origin/master
